<html lang="es" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>AgenDate APP</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
         <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
      <!-- loader  -->
      <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div> -->
      </div>
      <!-- end loader -->
      <!-- header -->
         <header>
            <!-- header inner -->
            <div class="header_bg">
                  <div class="header">
                     <div class="container">
                        <div class="row">
                           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                              <div class="full">
                                 <div class="center-desk">
                                    <div class="logo">
                                       <a href="index.html"><img src="images/logo-agendate-rectangular.png" alt="130" width="130" height="130" /></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                              <ul class="costomer">
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               <!-- end header inner -->
               <!-- end header -->
               <!-- banner -->
                  <section class="banner_main">
                     <div class="container">
                        <div class="row d_flex">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <span></span>
                                 <!-- <h1>Agendate</h1> -->
                                 <p>Administramos tu tiempo de forma eficiente, mediante una interfaz intuitiva y sencilla para brindarte una experiencia única en la gestión integral de tus servicios.</p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text-img">
                                 <figure><img src="images/img.png" alt="70" width="70" height="70"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
            </div>
         </header>
      <!-- end banner -->
      
      <!-- quality  -->
     <div class="quality ">
        <div class="container">
           <div class="row d_flex">
              <div class="col-md-7">
                 <div class="quality_box">
                    <figure><img src="images/agenda.jpg" alt="80" width="80" height="80"/></figure>
                 </div>
              </div>
               <div class="col-md-5">
                 <div class="quality_text">
                   <h3>Potenciamos tu negocio</h3>
                    <p>Somos la herramienta óptima más completa para automatizar tus tareas mientras conectas con tus clientes.</p>
                 </div>
              </div>
           </div>
        </div>
     </div>
      <!-- end quality  -->

      <div class="customers">
         <div class="container">
            <div class="row">
               <div class="col">
                  <div class="titlepage">
                     <h2 style="text-align: center;">Utilizan AgenDate:</h2>
                  </div>
               </div>
            </div>
            <div class="row">
                  <div id="myCarousel" class="carousel slide banner2" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
               
                  <div class="container">
                  <div class="carousel-caption">
                  <img src="images/logo-sparkling.png" alt="500" width="500" height="500"/>
                     <p>SPArkling Stetica utiliza AgenDate para la gestión de turnos de sus profesionales,<br>maximizando así la gestión del tiempo para mejorar el flujo de trabajo.</p>
                      
                     <p><a th:href="@{/vista-prestaciones}">Conoce cómo lo utiliza</a></p>
                     
                     <!--- <p>clientes ofrecen una amplia gama de servicios, valiéndose de las funcionalidades que le proporciona la aplicación, simplificando así</p> --->
                  </div>
                  </div>
                  

               </div>
            </div>
            
            </div>
         </div>
      </div>
      
</div>
   </div>
      <!-- end contact -->
      
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p> © 2022 AgenDate. <a href="https://html.design/"></a></p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function() {
           var owl = $('.owl-carousel');
           owl.owlCarousel({
             margin: 10,
             nav: true,
             loop: true,
             responsive: {
               0: {
                 items: 1
               },
               600: {
                 items: 2
               },
               1000: {
                 items: 3
               }
             }
           })
         })
      </script>
      
      <script>
         $('.content').hide();
         
         $('.slider').click(function() {
         $(this).next('.content').slideToggle();
         this.toggle = !this.toggle;
         $(this).children("span").text(this.toggle ? "-" : "+");
         return false;
         });
      </script>
      
      
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>
   </body>
</html>

