<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>
    <body background="/images/fondo.jpg">

        <header th:replace="fragments/auth-header :: header"></header>
        
        <main>
        <div class="container">
            <div th:if="${msgExito != null}"
                 class="alert alert-success alert-dismissible">
                [[${msgExito}]]
                <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
            </div>

            <h1 style="text-align:center" >Lista de turnos</h1>
           
            <div class="text-center my-3">
                <a href="/registro-turnos" class="btn btn-outline-info" style= "background-color: #CEF6F5" ><i class="fas fa-user-plus"></i>&nbsp;Añadir turno</a>
            </div>

             <br>
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Fecha Turno</th>
                        <th>Hora Turno</th>
                    </tr>
                </thead>
                <tbody>

                <div  sec:authorize="isAuthenticated()">
                    <h3>Hola,  <span sec:authentication="name"></span></h3> 
                </div>

                <tr th:each="turno : ${turnos}">
                    <td th:text="${turno.nombreUsuario}"></td>
                    <td th:text="${turno.apellidoUsuario}"></td>
                    <td th:text="${turno.emailUsuario}"></td>
                    <td th:text="${turno.telefonoUsuario}"></td>
                    <td th:text="${#temporals.format(turno.fecha,'yyyy-MM-dd')}"></td>
                    <td th:text="${turno.hora}"></td>

                    <td><a th:href="@{/{id}/editar/(id=${turno.id})}" class="btn btn-outline-success" style= "background-color: #81F7BE"><i class="fas fa-edit"></i>&nbsp;Editar</a>



                        <a href="#" onclick="eliminarTurno(this)" class="btn btn-danger"><i class="fas fa-trash-alt"></i>&nbsp;Eliminar</a>

                        <form th:action="@{/{id}/eliminar/(id=${turno.id})}"
                              method="post"></form></td>
                </tr>

                </tbody>
            </table>
        </div>




        <script>
            function eliminarTurno(elemento){
            var ok = confirm('¿Estas seguro de eliminar al turno?');

            if(ok){
            elemento.nextElementSibling.submit();
            }
            }
        </script>

        <br>
        <br>
        </main>
        <footer th:replace="fragments/footer :: footer"></footer>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>
    </body>
</html>
