<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>
    
    <body background="/images/fondo.jpg">
     <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #714B9D">
            <div class="container px-5">
                <a class="navbar-brand" style="color: #DC9F79">
                    <img src="/images/logo-sparkling.png" alt="70" width="70" height="45" class="mx-auto d-block">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" style="color: #F6CEEC"  th:href="@{/clientes/formulario_clientes}"><strong>Registrarme</strong></a></li>
                        <li class="nav-item"><a class="nav-link" style="color: #F6CEEC"  th:href="@{/vista-prestaciones}"><strong>Inicio</strong></a></li>
                    </ul>
                </div>
            </div>
        </nav>
       

        <div  th:classappend="'alert-' + (${success != null} ? ${success} : info)" th:if="${success != null}"     th:text="${success}"    class="alert alert-success alert-dismissible"></div>

        <main>
            <div class="container p-5">
                <div class="row">
                    <div class="col-md-4 mx-auto px-0">
                        <div th:if="${error}" th:text="${error}" class="alert alert-danger shadow text-center"></div>
                        <div th:if="${logout}" th:text="${logout}" class="alert alert-success shadow text-center"></div>

                        <div class="card text-center shadow" style="background-color: #714B9D">
                            <div class="card-header">
                                <h3 style="color: #DC9F79">Iniciar sesión</h3>
                            </div>
                            <div class="card-body" style="background-color: #714B9D">
                                <form th:action="@{/logincheck}" method="post" autocomplete="off" class="needs-validation mb-4"
                                      novalidate>

                                    <div class="form-group mb-3">
                                        <input type="email" name="email" placeholder="Email" class="form-control" required/>
                                        <div class="invalid-feedback text-start">Este campo es obligatorio.</div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <input type="password" name="contraseña" placeholder="Contraseña" class="form-control" required/>
                                        <div class="invalid-feedback text-start">Este campo es obligatorio.</div>
                                    </div>

                                    <div class="form-check">
                                        <input id="recordarme" name="recordarme" type="checkbox"/>
                                        <label for="remember_me" class="text-white">Recordar contraseña</label>
                                    </div>

                                    <br>
                                    
                                    <div class="form-group d-grid gap-2">
                                        <button id="mi-boton" style="background-color: #DC9F79" class="btn btn-light" type="submit">Iniciar sesión</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
      
          <footer class="py-5" style="background-color: #714B9D">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center" style="color: #DC9F79"> <a class="navbar-brand" th:href="@{/index}">
                      <img src="/images/logo_reloj.png" alt="70" width="70" height="70" class="mx-auto d-block">
                    </a>&copy; 2022 AgenDate </p>
                </div>
         </footer> 
        
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>

    </body>
</html>