<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
<header th:replace="fragments/header :: header"></header>

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <div th:if="${success}" th:text="${success}" class="alert alert-success" role="alert"></div>

                <div th:if="${profesionales.isEmpty()}" class="alert alert-info alert-dismissible fade show" role="alert">
                    You must enter people.
                    <a th:href="@{/profesional/formulario_profesional}" class="alert-link">Create person.</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div th:unless="${profesionales.isEmpty()}" class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="table-dark">
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Prestación</th>
                          
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="profesional : ${profesionales}">
                            <td th:text="${profDto.nombre}"></td>
                            <td th:text="${profDto.apellido}"></td>
                            <td th:text="${profDto.prestacion"></td>
                            
                                <a class="btn btn-warning" th:href="@{/persons/modificar/__${person.id}__}">Update</a>
                            </td>
                            
                                <form th:action="@{/persons/delete/__${person.id}__}" method="POST">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>