<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<header th:replace="fragments/header :: header"></header>

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                <div th:if="${exception}" th:text="${exception}" class="alert alert-danger mb-3"></div>

                <form th:action="@{/persons/__${action}__}" th:object="${person}" method="post" autocomplete="off"
                      class="needs-validation" novalidate>
                    <input type="hidden" th:field="*{id}">

                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="John"
                               required>
                        <label for="name">Name</label>
                        <div class="invalid-feedback">Name is required</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{surname}" id="surname" class="form-control" placeholder="Doe"
                               required>
                        <label for="surname">Surname</label>
                        <div class="invalid-feedback">Surname is required</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth" class="form-control" required>
                        <label for="dateOfBirth">Date of birth</label>
                        <div class="invalid-feedback">Date of birth is required</div>
                    </div>

                    <button th:text="${action == 'create' ? 'Create' : 'Update'}" type="submit"
                            class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
</body>

</html>