<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">

        <title>[[${turno.id ne null ? 'Editar turno' : 'Registro de turno'}]]</title>
    </head>
    <body background="/images/fondo.jpg">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #714B9D">
            <div class="container px-5">
                <a class="navbar-brand" style="color: #DC9F79">
                    <img src="/images/logo-sparkling.png" alt="70" width="70" height="45" class="mx-auto d-block">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" style="color: #F6CEEC"  th:href="@{/vista-prestaciones}"><strong>Inicio</strong></a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div th:if="${msgError != null}"
             class="alert alert-danger alert-dismissible">
            [[${msgError}]]
            <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
        </div>

        <br>
        <div class="row justify-content-center">
            <div class="col-md6 col-lg-4">
                <h2 >[[${turno.id ne null ? 'Editar turno' : 'Registro de turno'}]]</h2>
                <br>
                <form action="" method="post" th:object="${turno}">

                    <div class="mb-3">
                        <h4 for="fecha">Fecha turno : </h4> <input
                            id="fecha" type="date" th:field="*{fecha}" class="form-control" style= "background-color: #A9F5F2" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" class="invalid-feedback"></div>

                    </div>

                    <div class="form-group">
                        <h4 for="fecha">Hora turno : </h4>
                        <select class="form-select" style= "background-color: #A9F5F2" th:field="*{hora}">

                            <option th:value='16hs'>16hs</option>
                            <option th:value='17hs'>17hs</option>
                            <option th:value='18hs'>18hs</option>
                            <option th:value='19hs'>19hs</option>
                            <option th:value='20hs'>20hs</option>
                        </select>
                    </div>
                    <br>
                    <div class="text-end">
                        <button style= "background-color: #F5BCA9" class="btn btn-light"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                        <a href="/vista-prestaciones"  class="btn btn-outline-info"><i class="fas fa-backward"></i>&nbsp;Cancelar </a>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <br>
        <br>

        <footer class="py-5" style="background-color: #714B9D">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center" style="color: #DC9F79">Copyright &copy; AgenDate 2022</p>
                <div class="container justify-content-center">
                    <a class="navbar-brand" href="paginadeagendate.com">
                        <img src="/images/logo_reloj.png" alt="70" width="70" height="70" class="mx-auto d-block">
                    </a>
                </div>
            </div>
        </footer>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>

    </body>
</html>