<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>

    <body>

        <header th:replace="fragments/auth-header :: header"></header>

        <main>
            <div class="container p-5">
                <div class="row">
                    <div class="col-md-4 mx-auto px-0">

                        <div class="card text-center shadow">
                            <div class="card-header">
                                <h3>Registro</h3>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/profesional/__${action}__}" th:object="${profesional}" method="POST" autocomplete="off">
                                    
                                    <div class="form-floating mb-3">     
                                        <input type="text" th:field="*{nombre}" id="nombre" class="form-control" placeholder="John"
                                               required>
                                        <label for="nombre">Name</label>
                                        <div class="invalid-feedback"> </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="text" th:field="*{apellido}" id="apellido" class="form-control" placeholder="Doe"
                                               required>
                                        <label for="apellido">Apellido</label>
                                        <div class="invalid-feedback">  </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="text" th:field="*{email}" id="email" class="form-control" required>
                                        <label for="correo">Correo Electronico</label>
                                        <div class="invalid-feedback"></div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="password" th:field="*{contraseña}" id="contraseña" class="form-control" required>
                                        <label for="usuario">contraseña</label>
                                        <div class="invalid-feedback"> </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="password" th:field="*{confirmarContraseña}" id ="confirmarContraseña" class="form-control" required>
                                        <label for="contraseña">repita la Contraseña</label>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select elegir="select">
                                            <option prestacion="corte"> Opcion 1<option>
                                            <option prestacion="manicura y pedicura"> Opcion 2<option>
                                            <option prestacion="masajes"> Opcion 3<option>
                                        </select>
                                    </div>



                                    <button th:text="${action == 'crear' ? 'Crear' : 'modificar'}" type="submit"
                                            class="btn btn-primary"></button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/validation.js}"></script>
</body>

</html>