<!DOCTYPE html>
<meta charset="UTF-8"/>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>

    <head th:replace="fragments/head :: head"></head>

    <body>
        <header th:replace="fragments/header :: header"></header>

        <main>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-6">
                        <div th:if="${exception}" th:text="${exception}" class="alert alert-danger mb-3"></div>

                        <form th:action="@{/clientes/__${action}__}" th:object="${cliente}" method="post" autocomplete="off"
                              class="needs-validation" novalidate>
                            <input type="hidden" th:field="*{id}">

                            <div class="form-floating mb-3">
                                <input type="text" th:field="*{nombre}" id="nombre" class="form-control" placeholder="John"
                                       required>
                                <label for="nombre">Nombre</label>
                                <div class="invalid-feedback">Ingrese nombre válido</div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" th:field="*{apellido}" id="apellido" class="form-control" placeholder="Doe"
                                       required>
                                <label for="apellido">Apellido</label>
                                <div class="invalid-feedback">  Ingrese un apellido válido</div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" th:field="*{telefono}" id="telefono" class="form-control" required>
                                <label for="telefono">Número de celular</label>
                                <div class="invalid-feedback">Ingrese un número de celular válido</div>
                            </div>


                            <div class="form-floating mb-3">
                                <input type="text" th:field="*{email}" id="email" class="form-control" required>
                                <label for="email">Correo electrónico</label>
                                <div class="invalid-feedback">Ingrese una dirección de correo válido</div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" th:field="*{contraseña}" id ="contraseña" class="form-control" required>
                                <label for="contraseña">Contraseña</label>
                                <div class="invalid-feedback">Ingrese una contraseña válido</div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" th:field="*{confirmarContraseña}" id ="confirmarContraseña" class="form-control" required>
                                <label for="contraseña">repita la Contraseña</label>
                                <div class="invalid-feedback"></div>
                            </div>

                            <button th:text="${action == 'create' ? 'Create' : 'Update'}" type="submit"
                                    class="btn btn-primary"></button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="fragments/footer :: footer"></footer>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>