<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body background="img/fondo.jpg">
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <main>
                    <div class="container p-5">
                        <div class="row">
                            <div class="col-md-4 mx-auto px-0">
        
                                <div class="card text-center shadow">
                                    <div class="card-header" style="background-color: #714B9D">
                                        <h3 style="color: #DC9F79">Registro</h3>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/profesional/__${action}__}" th:object="${profesional}" method="POST" autocomplete="off">
                                            
                                            <div class="form-floating mb-3">     
                                                <input type="text" th:field="*{nombre}" id="nombre" class="form-control" required/>
                                                <label for="nombre">Nombre</label>
                                                <div class="invalid-feedback"> </div>
                                            </div>
        
                                            <div class="form-floating mb-3">
                                                <input type="text" th:field="*{apellido}" id="apellido" class="form-control" required/>
                                                <label for="apellido">Apellido</label>
                                                <div class="invalid-feedback">  </div>
                                            </div>
        
                                            <div class="form-floating mb-3">
                                                <input type="text" th:field="*{email}" id="email" class="form-control" required>
                                                <label for="correo">Correo electronico</label>
                                                <div class="invalid-feedback"></div>
                                            </div>
        
                                            <div class="form-floating mb-3">
                                                <input type="password" th:field="*{contraseña}" id="contraseña" class="form-control" required>
                                                <label for="usuario">Contraseña</label>
                                                <div class="invalid-feedback"> </div>
                                            </div>
        
                                            <div class="form-floating mb-3">
                                                <input type="password" th:field="*{confirmarContraseña}" id ="confirmarContraseña" class="form-control" required>
                                                <label for="contraseña">Repita la contraseña</label>
                                                <div class="invalid-feedback"></div>
                                            </div>       
        
        
                                            <button th:text="${action == 'crear' ? 'Crear' : 'modificar'}" type="submit"
                                                    class="btn btn-light" style="background-color: #DC9F79">Registrarme</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            </div>
        </div>
    </div>
</body>
</html>