<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>

    <body>

        <header th:replace="fragments/auth-header :: header"></header>

        <main>
            <div class="card">
                <h5 class="card-header">Buenos Dias! </h5>
                <div class="card-body">
                   
                    <p class="card-text" th:text="${profesional.nombre}">, estos son los turnos que tienes que cubrir hoy:</p>
                </div>
            </div>



            <div th:if="${turnos.isEmpty()}">
                <div class="card text-center delayed-color">
                    <div class="card-header">
                        Aviso!
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Aún no hay turnos registrados</h5>
                    </div>
                </div>
            </div>

            <div th:if="${!turnos.isEmpty()}" class="col-9 mx-auto mt-3">
                <table class="table table-success table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nombre y apellido</th>
                            <th scope="col">Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="turnos : ${turnos}">
                            <td th:text="${turno.Cliente}"></td>
                            <td th:text="${#temporals.format(turno.fechaYHora, 'dd-MM-yyyy HH:mm')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <footer th:replace="fragments/footer :: footer"></footer>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>
    </body>

</html>