        <footer class="py-5" style="background-color: #714B9D">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center" style="color: #DC9F79">Copyright &copy; AgenDate 2022</p>
                <div class="container justify-content-center">
                    <a class="navbar-brand" href="paginadeagendate.com">
                      <img src="img/logo_reloj.png" alt="70" width="70" height="70" class="mx-auto d-block">
                    </a>
                  </div>
            </div>
         </footer>